:root {
    --title-family: "Cooper Black";
    --text-family: "Cooper Black";
    --back-color: pink;
    --other-color: rgb(248, 230, 234);
    --border: 1px solid red;
}

@import url(//db.onlinewebfonts.com/c/9a4b138bd9c8e1eba20dbd6a0bb1d832?family=Cooper+Black);

@import url(//db.onlinewebfonts.com/c/6a9fe149ffe185a869f9fedc9e30022a?family=GauFontPopMagic);

@font-face {
    font-family: "Cooper Black";
    src: url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.eot");
    src: url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.woff") format("woff"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.svg#Cooper Black") format("svg");
}

@font-face {
    font-family: "GauFontPopMagic";
    src: url("//db.onlinewebfonts.com/t/6a9fe149ffe185a869f9fedc9e30022a.eot");
    src: url("//db.onlinewebfonts.com/t/6a9fe149ffe185a869f9fedc9e30022a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6a9fe149ffe185a869f9fedc9e30022a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6a9fe149ffe185a869f9fedc9e30022a.woff") format("woff"), url("//db.onlinewebfonts.com/t/6a9fe149ffe185a869f9fedc9e30022a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6a9fe149ffe185a869f9fedc9e30022a.svg#GauFontPopMagic") format("svg");
}


body {
    background-color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.header h1 {
    margin: 20px 0;
    text-shadow: 2px 3px 3px white;
}

.header {
    background-color: pink;
    height: 14%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--title-family);
}

.header img {
    width: 200px;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    text-align: start;
    height: 12%;
    font-size: 16px;
    font-family: var(--title-family);
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 25px;
    font-family: var(--title-family);
    border-radius: 5px;
}

nav a:hover {
    background-color: darkslateblue;
    color: white;
    box-shadow: 2px 3px 3px black;
}

.footer {
    background-color: pink;
    height: 4%;
    display: inline-block;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    font-family: var(--title-family);
    text-shadow: 2px 3px 3px white;
    margin-top: 700px;
}

.contenido {
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.contenido form {
    background-color: rgb(248, 230, 234);
    padding: 35px;
    border-radius: 15px;
    font-family: var(--text-family);
    height: 300px;
}

.contenido form .adminForm {
    background-color: rgb(248, 230, 234);
    padding: 35px;
    border-radius: 15px;
    font-family: var(--text-family);
    height: 300px;
}

.contenido form .first input {
    height: 10px;
    width: calc(100% - 50px);
    margin-bottom: 5px;
    font-family: var(--text-family);
}

.contenido form label,
.contenido form .first input {
    padding: 8px;
    margin: 10px;
}

.contenido form .first textarea {
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(20% - 50px);
    height: 50px;
    font-family: var(--text-family);
}

.contenido h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    font-family: var(--title-family);
    font-size: 25px;
    text-shadow: 2px 3px 3px white;
}

@media (max-width: 682px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 150px;
    }

    .header {
        align-items: flex-start;
    }

    .tablas {
        flex: 100%;
    }
}

.tablas img {
    width: 200px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    max-height: 1067px;
}

.tablas {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablas tr {
    display: flex;
    flex-wrap: wrap;
    flex: 25%;
    justify-content: center;
    text-align: center;
}

.tablas h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    font-family: var(--title-family);
    font-size: 25px;
}

.tablas small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: var(--text-family);
    text-shadow: 2px 3px 3px white;
}

.tablas h4 {
    font-family: var(--text-family);
}

.contenido .techi img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    max-width: 320px;
    max-height: 320px;
}

.contenido .techi {
    display: inline-flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 922px) {
    .contenido .techi {
        display: flex;
        flex-wrap: wrap;
    }

    .contenido .techi img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    background-color: var(--back-color);
    text-decoration: none;
    font-family: var(--text-family);
    height: 50px;
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 150px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}

.buttons button:hover {
    background-color: var(--other-color);
    cursor: pointer;
    box-shadow: 2px 3px 3px black;
}

.contenidoAdmin form {
    background-color: rgb(248, 230, 234);
    padding: 35px;
    border-radius: 15px;
    font-family: var(--text-family);
    height: 500px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenidoAdmin h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: var(--text-family);
}

.contenidoAdmin form label,
.contenidoAdmin form .adminForm input {
    padding: 8px;
    margin: 10px;
}

.contenidoAdmin form .adminForm input {
    flex-direction: column;
    width: calc(100%-40px);
}

.adminForm {
    background-color: rgb(248, 230, 234);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    gap: 10px;
    font-family: var(--text-family);
    font-size: 20px;
    border-radius: 20px;
}

.adminForm input {
    align-items: stretch;
    align-content: stretch;
    width: calc(100%-30px);
    font-family: var(--text-family);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.imgs {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs input,
.url input {
    width: calc(100%-30px);
}

.codigo,
.nombre,
.descripcion,
.precio,
.imgs,
.nombreImagen,
.estatus,
.url {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}

.nombreImagen input,
.url input {
    cursor: default;
}

.estatus select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    width: 280px;
    height: 46.5px;
    padding: 10px;
    font-family: var(--text-family);
    align-items: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.url {
    width: calc(100%-40px);
}

@media (max-width: 800px) {
    /* .adminForm {
        justify-content: flex-start;
        align-items: flex-start;
    } */

    #imagen {
        width: 300px;
        max-width: 100px;
        max-height: 100px;
    }
}

#imagen {
    max-width: 500px;
    max-height: 500px;
}

.imagenSelect {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.imagenSelect input {
    width: calc(50%-30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenidoLogin form {
    background-color: rgb(248, 230, 234);
    padding: 35px;
    border-radius: 15px;
    font-family: var(--text-family);
    height: 500px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenidoLogin h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: var(--text-family);
}

.contenidoLogin form label,
.contenidoLogin form .loginForm input {
    padding: 8px;
    margin: 10px;
}

.contenidoLogin form .loginForm input {
    flex-direction: column;
    width: calc(100%-40px);
}

.contenidoLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginForm {
    background-color: rgb(248, 230, 234);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    gap: 10px;
    font-family: var(--text-family);
    font-size: 20px;
    border-radius: 20px;
    flex-direction: column;
    width: 30%;
}

.loginForm input {
    align-items: stretch;
    align-content: stretch;
    width: calc(100%-30px);
    font-family: var(--text-family);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.contenidoLogin .loginForm .usuario,
.contenidoLogin .loginForm .contrasena {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.caja {
    margin: 20px;
}

.caja:hover {
    box-shadow: #3F3962;
    transform: translateY(-3%);
}

.productos img {
    width: 200px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    max-height: 1067px;
}

.productos{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 280px;
    border-radius: 30px;
    font-family: var(--text-family);
    gap: 15px;
    margin: 10px;
}


.productos h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    font-family: var(--title-family);
    font-size: 25px;
}

.productos p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: var(--text-family);
    text-shadow: 2px 3px 3px white;
    flex-direction: column;
}

.contenido .productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.productos tr {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 25%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.productos td{
    margin: 10px;
}